:root{
    --negro_claro:#222222;
}

*{
    box-sizing: border-box;
    top: 0px;
    margin: 0px;
}
body{
    display: grid;
    grid-template-columns: 8% 92%;
    width: 97vw;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
aside div{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    padding: 15px;
    display: flex;
    gap: 30px;
    overflow: none;
    margin-top: 20px;
}
li{
    font-style:normal;
    padding: 8px 12px;
    border-radius: 5px;
    background: var(--negro_claro);
    list-style: none;
}
.barra_de_busqueda{
    display: flex;
    align-items: center;
}
#caja_1{
    margin-top: 25px;
    margin-bottom: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
}
#buscador{
    display: flex;
    align-items: center;
}
#buscador input{
    width: 500px;
    height: 35px;
    border-radius: 25px 0px 0px 25px;
    padding-left: 20px;
}
#buscador img{
    background-color: var(--negro_claro);
    height: 35px;
    border-radius: 0px 25px 25px 0px;
    margin-left: -10px;
}
.personal{
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 22px;
}
#logo_youtube{
    margin-top: 10px;
}
.videos_fila_1{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 0px;
    background-color: var(--negro_claro);
    margin-left: 0px;
}
.videos_fila_2{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 0px;
    background-color: var(--negro_claro);
    margin-left: 0px;
}
.videos div{
    background-color: bisque;
    width: 50px;
}
.imagen_del_video{
    width: 260px;
    border-radius: 5%;
}
.imagen_perfil{
    border-radius: 80%;
}
.titulo_del_video{
    font-weight: 600;
    color: white;
}
aside p{
    color: white;
}
section ul li{
    color: white;
}
.seccion_descripcion p{
    color: white;
}